body {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    line-height: 1.666em;
    letter-spacing: .01em;
    font-size: 16px;
    color: #000000;
    background-color: white;
    direction: ltr;
    unicode-bidi: isolate;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
.gray {
  color: #CACACA;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
.red {
  color: #F2642E;
}
a, a:hover {
  color: black;
  text-decoration: none;
}
h1{
  font-weight: 900;
  color: black;
}
h2{
  font-weight: 900;
  color: black;
}
h3 {
  font-weight: 900;
  color: white;
}
h4 {
  font-weight: 900;
  color: black;
}
h6{
  font-weight: 700;
  color: black;
}
.form-control:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}
@media (max-width:768px) {
  
  .mbapp-pic {
    overflow: hidden;
    object-position: 50% 50%;
    display: flex;
    justify-content: center;
  }
  .mbapp-pic > img {
    max-width: 130%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .mt-121{
    margin-top: 121px;
  }
  .form-margin {
    margin-bottom: -65px;
    margin-top: 65px;
  }
  .gallery__image-container {
    height: 200px;
    margin: 0 10px;
    flex-shrink: 0;
  }
}
@media (min-width: 769px) {
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h6{
    font-size: 16px;
  }
  .mt-121{
    margin-top: 121px;
  }
  .form-margin {
    margin-top: -65px;
    margin-bottom: 65px;
  }
  .mbapp-pic {
    z-index: -1;
    margin-top: -80px;
    max-width: 100%;
  }
  .mbapp-pic > img {
    inline-size: -webkit-fill-available;
  }
  .gallery__image-container {
    width: 30%;
    height: 200px;
    margin: 0 10px;
    flex-shrink: 0;
  }
}
/* Navbar - START */
.navbar-toggle {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: sticky;
  z-index: 20;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.navbar-toggle .line {
  fill: none;
  transition-delay: 400ms, 0;
  transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  transition-timing-function: ease;
  transition-duration: 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.navbar-toggle .line.top {
  stroke-dasharray: 40 139;
}
.navbar-toggle .line.bottom {
  stroke-dasharray: 20 180;
  stroke-dashoffset: -20px;
}
.navbar-toggle.active {
  transform: rotate(45deg);
}
.navbar-toggle.active .line {
  stroke: #FFFFFF;
}
.navbar-toggle.active .line.top {
  stroke-dashoffset: -98px;
}
.navbar-toggle.active .line.bottom {
  stroke-dashoffset: -138px;
}
.navbar-toggle:not(.active):hover .line.bottom {
  stroke-dasharray: 40 180;
  stroke-dashoffset: 0px;
}

#toggle-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: -45%;
  margin-top: -20%;
}
.navbar-new ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-new ul li {
  opacity: 0;
}
.navbar-new ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 500ms;
  position: relative;
}
.navbar-new ul li a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  transition: opacity ease 500ms;
}
.navbar-new ul li a:hover {
  letter-spacing: 3px;
}
.navbar-new ul li a:hover:before {
  opacity: 0.2;
}

#bg-circle {
  transform: scale(0);
  width: 80px;
  height: 80px;
  background: #F2642E;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 1;
}
/* Navbar - END */

.form-control {
  background-color: #EDEDED;
  border: none;
  border-radius: 0;
}
.button1{
  color: white;
  background-color: #00662F;
  max-width: fit-content !important;
  border: none;
}
.button2{
  color: white;
  background-color: #00662F;
  border: none;
}
.btn2-green {
  color: white;
  background-color: #00A551;
  border: none;
}
.btn2-silver {
  color: #F2642E;
  background-color: #CACACA;
  border: none;
}
#slidervideo {
  position: absolute;
  z-index: -2;
  top: 2%;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.45;
}
.form-banner {
  background-color: #504B8B;
  background-image: linear-gradient(135deg, #504B8B, rgba(242, 100, 46, 0.5));
}
.form-banner2 {
  background-color: #504B8B;
  background-image: linear-gradient(135deg, #504B8B, rgba(62, 242, 46, 0.3));
}
.box1 {
  background-color: #ff932e;
  background-image: linear-gradient(135deg, #ff932e, #ffe865);
}
.bar1.activate {
  background: #F6C08C;
}
.bar1{
  background: #e4e4e4;
  width: 31%;
}


.banner1{
  background-color: #ffffff;
  background-image: linear-gradient(135deg, rgba(241, 218, 210, 0.5) 30%, #ffffff);
}
.banner2{
  background-color: #ed553b;
  
}
.color1 {
  color: #4F4C7E;
}
.banner3 {
  background-color: #F38F33;
}
.banner4 {
  background-color: #FBF0F0;
}
.image-cover {
  object-fit: cover;
}
.accordion-button, .accordion-item {
  background: none;
}
.accordion-button {
  padding-left: 0;
}
.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: unset;
}
/* circular scroll to top - start */
.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	
	content: '\2191';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: black;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	content: '\2191';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-color: #F2642E;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: black;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
	color: #223f98;
}
body.light .progress-wrap svg.progress-circle path {
	stroke: #223f98;
}
.circle {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
.circle {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #42c3ca;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
	position: absolute;
	font-family: 'unicons';
	content: '\eac1';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 1;
	color: black;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.circle:after {
	position: absolute;
	font-family: 'unicons';
	content: '\2191';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: yellow;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
/* circular scroll to top - end */

/* gallery section - START */
.gallery .row {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 0;
}

.gallery .row:nth-child(1), .gallery .row:nth-child(3){
  transform: translateX(20%);
}

.gallery .row:nth-child(2), .gallery .row:nth-child(4) {
  transform: translateX(-50%);
}

.section-gallery {
  width: 100vw;
}

.image-fluid {
  max-width: 100%;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallery section - END */
